<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div style="height:10vh;float:left;width:100%;"></div>
    <div class="logo">
        <img src="assets/image/logo.png">
    </div>
    <div style="height:5vh;float:left;width:100%;"></div>
    <div class="signin_field">
        <form #heroForm="ngForm" novalidate>
            <ion-list>
                <ion-item>
                    <ion-input type="password" placeholder="Enter New Password" [(ngModel)]="data.newpassword" name="newpassword" #newpassword="ngModel" pattern=".{6,}" required></ion-input>
                </ion-item>
                <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" class="alert alert-danger">
                    <div [hidden]="!newpassword.errors.required" class="alert alert-danger">
                        New Password is required
                    </div>
                    <div [hidden]="!newpassword.errors.pattern" class="alert alert-danger">
                        Password must contain atleast 6 characters
                    </div>
                </div>
                <ion-item>
                    <ion-input type="password" placeholder="Confirm New Password" [(ngModel)]="data.cpassword" name="cpassword" #cpassword="ngModel" pattern="{{data.newpassword}}" required></ion-input>
                </ion-item>
                <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)" class="alert alert-danger">
                    <div [hidden]="!cpassword.errors.required" class="alert alert-danger">
                        Confirm Password is required
                    </div>
                    <div [hidden]="!cpassword.errors.pattern" class="alert alert-danger">
                        Password and confirm Password does't match
                    </div>
                </div>
            </ion-list>
            <button ion-button type="submit" (click)="onSubmit(heroForm)" [disabled]="!heroForm.valid">Confirm</button>
        </form>

    </div>
</ion-content>