page-plannerplatform {


    .wide-as-needed {
        white-space: nowrap;
    }
    .scroll { 
        min-width: 100%;
    }

    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow-x:scroll;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 108px;
            width: auto;
        }
    }

    .seg{
        background: #fff;
        float: left;
        width: 100%;
    }

    .seg .segment .segment-button{
        border: 0px;
        border-bottom: 3px solid #ccc;
        color: #8e9595;
        font-size: 10px;
        height: 4.2rem;
        line-height: 4rem;
        text-transform: capitalize;
        font-family: Lora;
        padding: 0 3px;
    }

    .seg .segment .segment-button.segment-activated {
        border-color: #e5053a !important;
        opacity: 1;
        background: transparent;
        color: #e5053a !important;

    }

    .seg .segment .segment-button:hover:not(.segment-activated) {
        background-color: rgba(229, 5, 58, 0.1);

    }

    .invite ion-label{
        font-family: Lora-Regular;
        font-size: 15px;
        position: relative;
        padding: 13px 8px 13px 50px;
        margin: 0;
        text-transform: capitalize;
    }

    .invite .item .item-inner {
        padding-right: 8px;
        border-bottom: 0px !important;
        padding-left: 8px;
    }

    .invite .item {
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 1px solid #aaa;
    }
    .invite ion-label img {
        width: 26px;
        position: absolute;
        left: 10px;
        top:  0;
        z-index: 1;
        bottom:  0;
        margin: auto;
    }
    .invite .item:hover {
        color: #e5053a;
    }
    .item:last-child {
        border-bottom: none;
    }

    .list-ios.invite > .item-block:last-child, .list-ios.invite > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }
    .tacker {
        width: 100%;
        float: left;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 20px
    }
    .tacker h4 {
        width: 100%;
        float: left;
        text-transform: capitalize;
        color: #e5053a;
        font-family: Lora-Regular;
        margin: 12px 0;
    }
    .checked {
        color: #389611 !important;
    }
    .unchecked {
        color: #bd1515 !important;
    }
    table{
        width: 100%;
        float: left;
    }
    .calendar_img,.calendar_img img {
        width: 100%;
        float: left;
    }

    
}
